.reservation-box{
    padding: 5rem;
}
.testinomial-text{
    font-size: 1rem;

}
.testinomial-data{
    width: 60px;
}
.back{
    background-color: black !important;
    color: white !important;
}
.back:hover{
    background-color: white !important;
    color: black !important;
}